body{
  font-family: cursive;
  margin: 0;
}

@keyframes mymoves {
  0%    {background-color: #1d2d50;}
  50%   {background-color: #faf3dd;}
  100%  {background-color: #1d2d50;}
}

.page {
  background-color: #1d2d50;
  animation-name: mymoves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

h1 {
  margin: 0;
}

.top_container {
  width: 30%;
  margin: 0 auto 0 auto;
  padding: 50px;
  text-align: center;
}

@keyframes cloudmoves {
  0%    {left: 0;}
  50%   {left: 44%;}
  100%  {left: 89%;}
}

.top {
  position: relative;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.mountain {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
